@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 235, 235, 235;
  --background-end-rgb: 255, 255, 255;
  --main-color: 1, 119, 169;
  --text-main-color: 153, 153, 153;
  --text-color: 204, 204, 204;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

@layer base {
  a,
  input,
  button,
  textarea {
    -webkit-tap-highlight-color: transparent;
  }
}

@layer components {
  .hover-animation {
    @apply transition-colors duration-200;
  }

  .custom-button {
    @apply hover-animation rounded-xl p-1 disabled:cursor-not-allowed disabled:opacity-50;
  }

  .nav-item {
    @apply text-slate-500 h-full   flex items-center;
  }
  .nav-item-active {
    @apply font-semibold border-b-4 border-[#0177A9];
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));

  font-family: -apple-system, system-ui, Segoe UI, Roboto, Ubuntu, Cantarell,
    Noto Sans, sans-serif, BlinkMacSystemFont, Helvetica Neue, PingFang SC,
    Hiragino Sans GB, Microsoft YaHei, Arial !important;
}
